<template>
    <q-item to="/hal">Halaman 1</q-item>
    <q-item to="/hal2">Halaman 2</q-item>
    <q-item to="/hal3">Halaman 3</q-item>
</template>

<script>
export default {
  name: 'Header',
  setup () {
    return {}
  }
}
</script>
